<h1>Youngest director</h1>

<p>The youngest director in our dataset right now is <a href="<%=@director_info.id%>"><%=@director_info.name%></a>, born <%=@director_info.dob.strftime("%b %e, %Y")%> </p>
